__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.pyc

.env
.venv
env/
venv/

temp_files/*
!temp_files/.gitkeep
sbatch_output/*
!sbatch_output/.gitkeep

*.pkl
*.log
*.err
slurm-*.out

book/_build/

.DS_Store
